<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" src="/Styles/index.css"/>
</head>
<style>
        .con{
        min-height: 120vh;
        width: 50%;
        border: 2px solid red;
        padding-top:0px ;
        background-color: rgba(56, 231, 231, 0.499);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:30px ;
        flex-direction: column;
}
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 70%; */
       
    }
    input{
        /* width: 200px; */
        height:3.5vh;
        /* width: 100%; */
        /* border: 2px solid black; */
        margin: 2px;
        /* border:2px solid rgb(115, 101, 67); */
    }
    label{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        
        
    }
    table  {
        padding:5px;
        width:100%;
        
  border-spacing:10px ;
}
select{
    height:4vh;
        width: 100%;
        border: 1px solid black; 
}
button {
  background-color:  rgba(0, 9, 9, 0.499);
  border: none;
  color: white;
  padding: 15px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.error-stm{
    max-height: 5vh;
    background-color:white;
    color:red;
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: space-between;
    border:2px solid red;
}
.error-stm >h1{
    margin: auto;
    text-transform: capitalize;

}

button{
  background-color:  rgba(0, 9, 9, 0.499);
  border: none;
  color: white;
  padding: 15px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.close-btn{
    height: 35px;
    width:35px;
    border-radius: 2px;
    padding: 0;
    background: red;
}
.inp{
    /* margin: auto 0; */
}
</style>
<body>
    <div class="form-wrap">
        <form  method="post" enctype="multipart/form-data">
        <div class="box">
            
            <div class="con">
                <tr>
                    <td colspan="2">
                    <% if(error!=""){ %> 
                        <div class="error-stm">
                           <h5> <%=error%></h5>
                            <button class="close-btn" >X</button>
                        </div> 
                        <%}%>
                    </td>
                </tr>
            <label>Image</label><input class="inp hero-img" type="file" name="upload-doc"/>
            <label>Upload File1</label><input class="inp doc1" type="file" name="upload-doc"/>
            <label>Upload File2</label><input class="inp doc2" type="file" name="upload-doc"/>
            <!-- <input type="file" name="hero-doc1"/> -->
            <!-- <input type="file" name="doc1"/>
            <input type="file" name="doc2"/> -->
            <button type="submit" >SUBMIT</button>
            </div>
            </div>
        </form>
    </div>
</body>
<script>
    document.querySelector(".close-btn").addEventListener("click",(e)=>{
 e.preventDefault();
 document.querySelector(".error-stm").style.display="none"
 
    })
 </script>
</html>